- name: Collect vars
  set_fact:
    dirs: "{{ FLDM_dirs | default({}) }}"
    files: "{{ FLDM_files | default({}) }}"
    symlinks: "{{ FLDM_symlinks | default({}) }}"
    sync_dirs: "{{ FLDM_sync_dirs | default({}) }}"
    templated_files: []
    urled_files: []
    urled_files_with_checksum: []
  tags:
    - always

- name: Manage dirs
  file:
    path: "{{ dir.value.path }}"
    state: "directory"
    owner: "{{ dir.value.owner | default('root') }}"
    group: "{{ dir.value.group | default(dir.value.owner | default('root')) }}"
    mode: "{{ dir.value.mode | default('0755') }}"
  loop: "{{ lookup('dict',dirs,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "dir"

- name: Delete managed files
  file:
    path: "{{ file.value.dest }}"
    state: "absent"
  when:
    - file.value.state is defined
    - file.value.state == 'absent'
  loop: "{{ lookup('dict',files,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "file"

- name: Manage files (touching)
  file:
    path: "{{ file.value.dest }}"
    state: "touch"
    owner: "{{ file.value.owner | default('root') }}"
    group: "{{ file.value.group | default(file.value.owner|default('root')) }}"
    mode: "{{ file.value.mode | default('0644') }}"
    access_time: 'preserve'
    modification_time: 'preserve'
  when:
    - file.value.state is defined
    - file.value.state == 'touch'
  changed_when: false
  loop: "{{ lookup('dict',files,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "file"

- name: Collect info for templated files
  set_fact:
    templated_files: "{{ templated_files + [ file.key ] }}"
  when:
    - file.value.state is undefined or file.value.state == 'file'
    - not file.value.src is url
  loop: "{{ lookup('dict',files,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "file"

- name: Collect info for urled files
  set_fact:
    urled_files: "{{ urled_files + ([ file.key ] if file.value.checksum is undefined else []) }}"
    urled_files_with_checksum: "{{ urled_files_with_checksum + ([ file.key ] if file.value.checksum is defined else []) }}"
  when:
    - file.value.state is undefined or file.value.state == 'file'
    - file.value.src is url
  loop: "{{ lookup('dict',files,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "file"

- name: Manage files (templated)
  template:
    src: "{{ files[item].src }}"
    dest: "{{ files[item].dest }}"
    owner: "{{ files[item].owner | default('root') }}"
    group: "{{ files[item].group | default(files[item].owner | default('root')) }}"
    mode: "{{ files[item].mode | default('0644') }}"
  loop: "{{ templated_files }}"

- name: Manage files (urls w\o checksums)
  get_url:
    url: "{{ files[item].src }}"
    dest: "{{ files[item].dest }}"
    owner: "{{ files[item].owner | default('root') }}"
    group: "{{ files[item].group | default(files[item].owner | default('root')) }}"
    mode: "{{ files[item].mode | default('0644') }}"
  loop: "{{ urled_files }}"

- name: Manage files (urls with checksums) (apply only if checksums different)
  include_tasks: "urled_files_with_checksums.yml"
  loop: "{{ urled_files_with_checksum }}"
  loop_control:
    loop_var: "dict_item"

- name: Manage symliks
  file:
    src: "{{ link.value.src }}"
    dest: "{{ link.value.dest }}"
    state: "link"
    follow: no
    force: yes
  loop: "{{ lookup('dict',symlinks,wantlist=True,errors='ignore') }}"
  loop_control:
    loop_var: "link"

- name: Sync dirs
  include_tasks: "sync_dirs.yml"
  loop: "{{ sync_dirs.keys() }}"
